
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('./fonts/SpoqaHanSansNeo-Bold.woff')
  }
  
  @font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./fonts/SpoqaHanSansNeo-Light.woff')
  }
  
  @font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./fonts/SpoqaHanSansNeo-Medium.woff')
  }
  
  @font-face {
    font-family: "Noto Sans KR";
    font-style: 300;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/SpoqaHanSansNeo-Regular.woff')
  }
  
  @font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('./fonts/SpoqaHanSansNeo-Thin.woff')
  }
